@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Montserrat:wght@500&family=Tajawal:wght@300;400;700&display=swap");

:root {
  /* Colors */
  --navColor: #1e1e1e;
  --bodyColor: #000000;
  --lightColor: #ffffff;
  --primaryOrange: #f47820;
  --primaryGreen: #28afb0;
  --secondaryOrange: #d3671b;

  /* Width */
  --centralizedContainer: 85%;
}

body {
  font-family: "Tajawal", sans-serif;
}


/* buttons */

.orange--btn,
.green--btn {
  max-width: 130px;
  min-width: 130px;
  font-size: 1.2rem;
  font-weight: 700;
}
.orange--btn{
    background-color: var(--primaryOrange);
    border : 1px solid var(--primaryOrange);
}
.orange--btn:hover{
    background-color: transparent;
    color:var(--primaryOrange);
    border : 1px solid var(--primaryOrange);
}

.green--btn{
    color:var(--primaryGreen);
    border : 1px solid var(--primaryGreen);
}
.green--btn:hover{
    background-color: var(--primaryGreen);
    color:var(--lightColor);
}